# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [2]:
print("saad",33,True,3.12)

saad 33 True 3.12

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [ ]:
print("Saad", 42, True, 3.14, sep="-")

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [4]:
print("Saad khan",end=" ")
print(43,end=" ")
print(False,end=" ")
print(3.34)

Saad khan 43 False 3.34

4) Can a python print function take no value to print???

In [6]:
#Yes
print()

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [20]:
name="Mr.Ahmed"
age=30
bachlors_year=2005
law_firm ="The Himalya Associates"
years_since=2015
height=5.10
weight=70600
monthy_income=200000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [9]:
current_year=2025
years_since_graduation=current_year-bachlors_year
print(f"years since ahmeds Graduation {years_since_graduation}")

years since ahmeds Graduation 20

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

In [13]:
working_years=current_year-years_since
print(f"he has been working for {working_years} years")

he has been working for 10 years

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [17]:
in_dollars=monthy_income/280
print(f"monthly income in dollars in {in_dollars}")

monthly income in dollars in 714.2857142857143

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [18]:
in_dollars=monthy_income/280
print(f"monthly income in dollars in {int(in_dollars)}")

monthly income in dollars in 714

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [22]:
print(type(weight))
in_kg=weight/1000
print(in_kg,"kg")

<class 'int'>
70.6 kg

In [1]:
#11) print the year of birth of Mr. Ahmed.

In [23]:
#type your code here
birth_year=current_year-30
print("his birth year is ",birth_year)

his birth year is  1995

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [3]:
10%2
# 10 is completely divisible by2
# 10 is multiple of 2
# 2 is a factor of 10
# 10 comes in table of 2

0

In [29]:
rupees=100
students=6
print(rupees%students)
print("The answer is no")

4
The answer is no